body {
    font-family: Roboto, sans-serif;
}

.header, .footer, .body {
    background-color: #1f2937;
}

/* header */

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 15vh;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    display: flex;
    padding: 16px;
    padding-bottom: 10vh;
}

.links {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-left: auto;
    margin-right: 15vh;
}

/* hero */

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-hero {
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px 0;
}

.signup-blue {
    background-color: #3882f6;
    color: white;
    border-color: #3882f6;
    border-radius: 0.5em;
    border-style: solid;
    border-radius: 0.5em;
    padding: 1vh 4vh;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.5vh;
    align-self: start;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15vh 15vh;
}   

.body-left {
    display: flex;
    flex-basis: 420px;
    flex-direction: column;
    justify-content: lefts;
    text-align: left;
    margin-right: 60px;
}

.body-right img {
    width: 600px;
    height: 410px;
}

/* info */

.info {
    padding: 8vh;
}

.info-header {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 8vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card img {
    max-width: 200px;
    border: solid #3882f6 4px;
    border-radius: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 0 2vh;

}

.text-container > p {
    text-align: center;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 8vh 25vh;
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

/* sign-up */

.action {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    padding: 8vh;
    margin: 10vh 30vh;
    border-radius: 0.5em;
}

.signup-hero {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 0.4vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 5vh;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 0.5em;
    padding: 1vh 8vh;
    font-size: 18px;
    font-weight: 700;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    color: white;
}